//Breakpoints responsivos
/*######################SMALL#############################*/
@media (max-width: 480px) {
  #cover {
    background: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll !important;
    min-height: 900px !important;
  }
  .decorado-cover {
    position: absolute;
    right: 10% !important;
    top: -5% !important;
  }
  .decorado-history {
    position: absolute;
    z-index: -10;
    top: 100px;
    right: 0px !important;
  }
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 900px !important;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .fa-utensils {
    font-size: 40px !important;
  }
  .display-4 {
    font-size: 45px !important;
  }
  .square {
    height: 90px !important;
    width: 90px !important;
    background-color: #baa286;
    position: absolute !important;
    bottom: 80px !important;
    left: 0px !important;
  }
  #forLunch .border-right {
    border-right: none !important;
  }
  #slider .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  #slider3 .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  #slider-sm {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .decorado-aboutus {
    position: absolute;
    z-index: -10;
    right: -10px;
    bottom: 15%;
  }
  .social-footer {
    font-size: 2.4rem;
  }
}
/*######################LARGE#############################*/
@media (min-width: 992px) {
  #slider .carousel-control-prev {
    position: absolute;
    left: 5% !important;
  }
  #slider .carousel-control-next {
    position: absolute;
    right: 5% !important;
  }
  #slider3 .carousel-control-prev {
    position: absolute;
    left: -10% !important;
  }
  #slider3 .carousel-control-next {
    position: absolute;
    right: -10% !important;
  }
  .decorado-aboutus {
    position: absolute;
    z-index: -10;
    bottom: 20%;
    right: 35%;
  }
}
//Estilos globales:
/*######################GLOBAL#############################*/
body {
  background-color: #f9f8f2 !important;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: light !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: bold !important;
}
.btn {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}
.btn-primary {
  background-color: #6304e7 !important;
  border: none !important;
}
.btn-circle {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgba(221, 213, 213, 0.2);
}
.btn-circle-icon {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgba(221, 213, 213, 0.2);
}

//Estilos especificos
/*######################DETAILS#############################*/
.navbar-default {
  background-color: transparent !important;
  background-image: none;
  border-color: transparent;
}
.navbar-brand {
  font-family: "PT Serif", serif;
}

.list-group-item {
  padding: 0.75rem 0 0 !important;
}

#cover {
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 700px;
}
#cover-buttons {
  padding-left: 0 !important;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}
.square {
  height: 170px;
  width: 170px;
  background-color: #baa286;
  position: absolute;
  bottom: 100px;
  left: -30px;
}
#offerList h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: thin !important;
}
#slider .container-fluid {
  background-color: #333333;
}
#press .container-fluid {
  background-color: #333333;
}
#press-back {
  background-color: #333333;
  margin-top: -300px;
  padding-top: 300px;
  z-index: -10;
}
#footer {
  background-color: #333333;
  margin-top: -200px;

  padding-top: 200px;
}

.decorado-cover {
  position: absolute;
  right: 100px;
  bottom: 150px;
}

.decorado-history {
  position: absolute;
  z-index: -10;
  right: -20px;
  top: 100px;
}
.decorado-offers {
  position: absolute;
  right: 10%;
  top: 3%;
}
.decorado-slider {
  position: absolute;
  z-index: 0;
  bottom: 3% !important;
  right: 6% !important;
}
.decorado-press {
  position: absolute;
  left: -25%;
  bottom: -10%;
}
.decorado-reserve {
  position: absolute;
  top: 0;
  right: 0;
}
.reserve-img {
  z-index: 100 !important;

  position: relative;
}
.carousel-inner {
  z-index: 1;
}
.fa-star,
.fa-star-o {
  color: #bea684;
}
.lead {
  margin-bottom: 0 !important;
}
.social-footer {
  display: block;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
.social-footer li {
  display: inline-block;
}
.social-footer li a {
  color: #ffffff;
  padding-top: 1rem !important;
}

i.fab {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px #fff;
  padding: 0.8em 0.8em;
}
